*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/* Navbar */
.navbar{
    background-color: rgba(0, 0, 0, 0.7);
    
}
.navbar-nav a{
    color: white !important;
    margin: 0 20px;
    margin-top: 10px;
    font-size: 15px;
    text-shadow: 1px 1px 10px #000;
}
.navbar-toggler {
    color: white !important;
    border: none !important;
    outline: none !important;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
}
.nav-link{
    margin-top: 5px !important;
    font-size: 20px !important;
}

/* Flex items */
.flex-item {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: auto;
    height: auto;
    margin: 10px;
   
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    
    }
    .flex-container-2{
        display: flex;
        background-image: url("/static/img/matcha.jpeg");
        flex-flow: column wrap;
        justify-content: center;
        
        margin-left: auto ;
        margin-right: auto ;
        align-items: center;
        height: 90vh;
        background-size: cover;
        background-position: center;

    }
    .flex-item-logo {
        text-shadow: 1px 1px 10px #8f4707;
        padding: 5px;
        width: auto;
        height: auto;
        margin: 10px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        
        }

/* jumbotron */
.jumbotron {
    background-image: url("/static/img/matcha.jpeg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px !important;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #8f4707;
    margin-bottom: 0px;

}

.jumbotron h1 {
    margin-top: 30px;
    font-size: 60px;
    line-height: 1.5;
}

#button{
   background-color: #504d15d8;
   border: 1px solid white;
   color: white;
   font-size: 16px;
}

.intro {
    padding-top: 40px ;
   
}

/* Search box */
.search-box{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dbd89e;
    height: 4px;
    border-radius: 80px;
    padding: 10px;
}
.search-btn{
    color: #504d15;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #504d15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px ;
}

footer{
    background-color:#6b6827 ;
}
/* Mobile Media */
@media only screen and (max-width: 600px) {
    .jumbotron {
        font-size: 26px;
        line-height: 1.7;
    }
    .intro {
        width: 200px;
        padding-top: 50px;
    }
}