$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: lighten($gray-lighter, 4%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: rgb(255, 255, 255);
  border: 3px solid $secondary-color;
  color: $secondary-color;
  border-radius: 10px;
  padding: 0.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

.btn--block {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 0;
}

.cards__item {
  display: flex;
  list-style: none;
  margin: 2px;
  flex: 0 0 31%;
  padding: 1rem;
}

.card {
  background-color: $primary-color;
  min-width: 270px;
  width: 300px;
  height: 400px;
  padding: 2px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  box-shadow: 0 0 2em -1em black;
  border-radius: 0.25rem;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  height: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem;
  padding-bottom: 2px;
}
.card-img img {
  height: 250px;
  width: 250px;
  max-height: 250px;
  padding-top: 10px;
}

.card-butt {
  width: 100px;
  height: 25px;
  background-color: $supp-color;
  border-color: $supp-color;
  color: $text-color;
  border-radius: 5px;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__title {
  color: $text-color;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  color: $text2-color;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  width: auto;
  margin-top: 5px;
  // white-space: nowrap;
  overflow: hidden;
  // text-overflow: ellipsis;
}

// Cut off overflowing text
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
